{% extends "admin_base.html" %}
{% block content %}
  <div class="page-header">
    <h1>Add Stat</h1>
  </div>
  <div class="form-group">
    <label class="control-label">Host</label>
    <select class="form-control">
      {% for host in hosts %}
      <option value="{{ host.id }}" {% if loop.index == 1 %}selected="selected"{% endif %}>{{ host.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="input-group">
    <span class="input-group-addon">Stat Name</span>
    <input type="text" class="form-control">
  </div>
  <div class="input-group">
    <span class="input-group-addon">Chart Name</span>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label class="control-label">Value Type</label>
    <select class="form-control">
      {% for type_i, type_str in value_types %}
      <option value="{{ type_i }}" {% if loop.index == 1 %}selected="selected"{% endif %}>{{ type_str }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="input-group">
    <span class="input-group-addon">Value Unit</span>
    <input type="text" class="form-control">
  </div>
{% endblock %}