{% extends "base.html" %}
{% block head_js %}
<script src="static/js/echarts-plain-original.js"></script>
{% endblock %}
{% block content %}
<h1 class="page-header">{{ host_name }}<small>Host Information</small></h1>

<h2 class="sub-header">CPU</h2>
<div class="row placeholders">
    <div class="col-xs-12 col-sm-12 placeholder">
      <div id="cpu_chart" style="height:300px;"></div>
    </div>
</div>

<h2 class="sub-header">Network</h2>
<div class="row placeholders">
    <div class="col-xs-12 col-sm-12 placeholder">
      <div id="net_recv_chart" style="height:300px;"></div>
    </div>
    <div class="col-xs-12 col-sm-12 placeholder">
      <div id="net_send_chart" style="height:300px;"></div>
    </div>
</div>

<h2 class="sub-header">Memory</h2>
<div class="row placeholders">
    <div class="col-xs-12 col-sm-12 placeholder">
      <div id="vmem_chart" style="height:300px;"></div>
    </div>
    <div class="col-xs-12 col-sm-12 placeholder">
      <div id="swap_chart" style="height:300px;"></div>
    </div>
</div>

<h2 class="sub-header">Disk</h2>
<div class="row placeholders">
    <div class="col-xs-12 col-sm-12 placeholder">
      <div id="disk_io_chart" style="height:300px;"></div>
    </div>
    <div class="col-xs-12 col-sm-12 placeholder">
      <div id="disk_usage_chart" style="height:300px;"></div>
    </div>
</div>
{% endblock %}

{% block body_js %}
{{ super() }}
<script>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
var host_id = {{ host_id }};
$(function() {
    var chart_types = ['cpu', 'net', 'vmem', 'swap', 'disk_io', 'disk_usage'];
    var chart_data = {
        cpu_chart: {title: 'Usage', y_axis_unit: '%',
                    stat_name: 'cpu',
                    get_stat_func: function(stat) {
                        return stat;
                    }},
        net_recv_chart: {title: 'Recv', y_axis_unit: 'KB',
                         stat_name: 'net',
                         get_stat_func: function(stat) {
                             return stat.recv;
                         }},
        net_send_chart: {title: 'Send', y_axis_unit: 'KB',
                         stat_name: 'net',
                         get_stat_func: function(stat) {
                             return stat.send;
                         }},
        vmem_chart: {title: 'Virtual Memory', y_axis_unit: '%',
                     stat_name: 'vmem',
                     get_stat_func: function(stat) {
                         return stat;
                     }},
        swap_chart: {title: 'Swap Memory', y_axis_unit: '%',
                     stat_name: 'swap',
                     get_stat_func: function(stat) {
                         return stat;
                     }},
        disk_io_chart: {title: 'IO Stat', y_axis_unit: 'KB',
                     stat_name: 'disk_io',
                     get_stat_func: function(stat) {
                         return stat;
                     }},
        disk_usage_chart: {title: 'Usage', y_axis_unit: '%',
                     stat_name: 'disk_usage',
                     get_stat_func: function(stat) {
                         return stat;
                     }}
    };

    var charts = {};
    for (var chart_id in chart_data)
    {
        var chart_dom = document.getElementById(chart_id);
        var tmp_chart = echarts.init(chart_dom);
        tmp_chart.showLoading({text: 'Loading...'});
        charts[chart_id] = tmp_chart;
    }

    $.getJSON($SCRIPT_ROOT + '/_get_hostinfo', {type: chart_types, id: host_id},
        function(data) {
            for (var chart_id in chart_data)
            {
                var tmp_data = chart_data[chart_id];
                var stat = data.stats[tmp_data.stat_name];
                var names = [];
                for (var name in stat)
                {
                    names.push(name);
                }
                var stat_times = [];
                for (var t in stat[names[0]])
                {
                    stat_times.push(t);
                }

                var this_config = {is_auto_refresh: false};
                function on_click_auto_refresh(config, chart_id) {
                    var the_chart = charts[chart_id];
                    return function () {
                        config.is_auto_refresh = !config.is_auto_refresh;
                        if (config.is_auto_refresh) {
                            // auto refresh the chart
                            alert('auto refresh ' + chart_id);
                        } else {
                            // disable auto refresh
                            alert('disable auto refresh ' + chart_id);
                        }
                    }
                }

                var option = {
                    title : {
                        text: tmp_data.title
                    },
                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data: names
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            mark : {show: true},
                            dataZoom : {show: true},
                            dataView : {show: true, readOnly: false},
                            magicType : {show: true, type: ['line', 'bar']},
                            saveAsImage : {show: true},
                            autoRefresh : {show: true, title: '自动刷新',
                                           icon: 'image://static/img/octicons-sync.png',
                                           onclick: on_click_auto_refresh(this_config, chart_id)}
                        }
                    },
                    dataZoom : {
                        show : true,
                        realtime : true,
                        y : 280,
                        height : 20,
                        start : 50
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            boundaryGap : false,
                            data : stat_times
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                            axisLabel : {
                                formatter: '{value} ' + tmp_data.y_axis_unit
                            },
                            splitArea : {show : true}
                        }
                    ],
                    series : []
                };

                for (var name in stat)
                {
                    var tmp_stat = stat[name];
                    var stat_data = [];
                    for (var st in tmp_stat)
                    {
                        stat_data.push(tmp_data.get_stat_func(tmp_stat[st]));
                    }

                    option.series.push({
                        name: name,
                        type: 'line',
                        data: stat_data,
                        markPoint : {
                            data : [
                                {type : 'max', name: 'max'},
                                {type : 'min', name: 'min'}
                            ]
                        }
                    });
                }
                charts[chart_id].hideLoading();
                charts[chart_id].setOption(option);
            }
        });
});
</script>
{% endblock %}
