{% extends "base.html" %}
{% block head_js %}
<script src="static/js/echarts-plain-original.js"></script>
{% endblock %}
{% block content %}
<h1 class="page-header">{{ host_name }}<small>Host Information</small></h1>
{% endblock %}

{% block body_js %}
{{ super() }}
<script>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
var host_id = {{ host_id }};
var display_setting = {{ display_setting }};
$(function() {
    var chart_data = {};
    var main_div = $(".main");
    for (var i = 0; i < display_setting.length; ++i) {
        var section_setting = display_setting[i];
        var section_header_html =
                '<h2 class="sub-header">' + section_setting.section_name + '</h2>';
        main_div.append(section_header_html);

        var section_id = 'section_' + i;
        var section_charts_div_html =
                '<div class="row placeholders" id="' + section_id + '">' +
                '</div>';
        main_div.append(section_charts_div_html);
        var section_charts_div = $("#" + section_id);

        var section_charts = section_setting.charts;
        for (var j = 0; j < section_charts.length; ++j) {
            var chart_setting = section_charts[j];
            if (chart_setting.type == 'stat') {
                var chart_id = 'stat_chart_' + chart_setting.id;
                var chart_div_html =
                        '<div class="col-xs-12 col-sm-12 placeholder">' +
                        '<div id="' + chart_id + '" style="height:300px;"></div>' +
                        '</div>';
                section_charts_div.append(chart_div_html);
                chart_data[chart_id] = {title: chart_setting.name, stat_id: chart_setting.id};
            }
        }
    }

    var auto_refresh_stat_ids = [];
    var auto_refresh_time_ticket = -1;
    var auto_refresh_interval = 30000;  // 30 seconds
    var time_records = {};
    var on_auto_refresh_funcs = {};
    function add_auto_refresh_stat(stat_id, latest_time, on_get_data) {
        if (auto_refresh_stat_ids.indexOf(stat_id) >= 0) {
            return;
        }
        auto_refresh_stat_ids.push(stat_id);
        time_records[stat_id] = latest_time;
        on_auto_refresh_funcs[stat_id] = on_get_data;

        if (auto_refresh_stat_ids.length == 1) {
            auto_refresh_time_ticket = setInterval(function() {
                var args = {id: host_id, stat_ids: auto_refresh_stat_ids,
                            latest_time: auto_refresh_stat_ids.map(function(e) {
                                return time_records[e];
                            })};
                $.getJSON($SCRIPT_ROOT + '/_get_latest_stat', args, function(data) {
                    if (data.return_code == 0) {
                        var stat = data.stats;
                        for (var stat_id in stat) {
                            var func = on_auto_refresh_funcs[stat_id];
                            func(stat[stat_id]);
                        }
                    }
                });
            }, auto_refresh_interval);
        }
        // if auto_refresh_stat_ids.length > 1, we just do nothing
        // and next time when the timer runs, it will get the stat data
    }

    function remove_auto_refresh_stat(stat_id) {
        var idx = auto_refresh_stat_ids.indexOf(stat_id);
        if (idx < 0) {
            return;
        }

        auto_refresh_stat_ids.splice(idx, 1); // remove stat_id
        if (auto_refresh_stat_ids.length == 0) {
            clearInterval(auto_refresh_time_ticket);
        }
    }

    var stat_ids = [];
    for (var chart_id in chart_data)
    {
        var tmp_data = chart_data[chart_id];
        stat_ids.push(tmp_data.stat_id);
    }

    var charts = {};
    for (var chart_id in chart_data)
    {
        var chart_dom = document.getElementById(chart_id);
        var tmp_chart = echarts.init(chart_dom);
        tmp_chart.showLoading({text: 'Loading...'});
        charts[chart_id] = tmp_chart;
    }

    $.getJSON($SCRIPT_ROOT + '/_get_host_stat', {stat_ids: stat_ids, host_id: host_id},
        function(data) {
            for (var chart_name in chart_data)
            {
                var tmp_data = chart_data[chart_name];
                var stat_info = data.stats[tmp_data.stat_id];
                var stat = stat_info.data;
                var names = [];
                for (var name in stat)
                {
                    names.push(name);
                }
                var stat_times = [];
                for (var t in stat[names[0]])
                {
                    stat_times.push(t);
                    time_records[tmp_data.stat_id] = t;
                }

                var this_config = {is_auto_refresh: false, stat_id: tmp_data.stat_id,
                                   stat_names: names};
                function on_click_auto_refresh(config, chart_name) {
                    var stat_id = config.stat_id;
                    var the_chart = charts[chart_name];
                    return function (option, target, zr) {
                        config.is_auto_refresh = !config.is_auto_refresh;
                        if (config.is_auto_refresh) {
                            zr.modShape(target.id, {style: {opacity: 0.8},
                                                    highlightStyle: {opacity: 1,
                                                                     text: "取消自动刷新"}
                            });
                            zr.refresh();

                            // auto refresh the chart
                            add_auto_refresh_stat(stat_id, time_records[stat_id], function(stat) {
                                var to_add_stats = [];
                                var stat_names = config.stat_names;
                                var is_first = true;
                                for (var name in stat) {
                                    var name_i = stat_names.indexOf(name);
                                    if (name_i < 0) {
                                        continue;
                                    }

                                    for (var t in stat[name]) {
                                        var tmp = 1;
                                        if (is_first) {
                                            tmp = [name_i, stat[name][t], false, false, t];
                                        } else {
                                            tmp = [name_i, stat[name][t], false, false];
                                        }
                                        to_add_stats.push(tmp);
                                        time_records[stat_id] = t;
                                    }

                                    is_first = false;
                                }
                                the_chart.addData(to_add_stats);
                            });
                        } else {
                            zr.modShape(target.id, {style: {opacity: 0.2},
                                                    highlightStyle: {opacity: 0.4, text: "自动刷新"}
                            });
                            zr.refresh();

                            // disable auto refresh
                            remove_auto_refresh_stat(stat_id);
                        }
                    }
                }

                var option = {
                    title : {
                        text: tmp_data.title
                    },
                    tooltip : {
                        trigger: 'axis'
                    },
                    legend: {
                        data: names
                    },
                    toolbox: {
                        show : true,
                        feature : {
                            mark : {show: true},
                            dataZoom : {show: true},
                            dataView : {show: true, readOnly: false},
                            magicType : {show: true, type: ['line', 'bar']},
                            saveAsImage : {show: true},
                            autoRefresh : {show: true, title: '自动刷新',
                                           icon: 'image://static/img/octicons-sync.png',
                                           onclick: on_click_auto_refresh(this_config, chart_name)}
                        }
                    },
                    dataZoom : {
                        show : true,
                        realtime : true,
                        y : 280,
                        height : 20
                    },
                    calculable : true,
                    xAxis : [
                        {
                            type : 'category',
                            boundaryGap : false,
                            data : stat_times
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value',
                            axisLabel : {
                                formatter: '{value} ' + stat_info.unit
                            },
                            splitArea : {show : true}
                        }
                    ],
                    series : []
                };

                for (var name in stat)
                {
                    var tmp_stat = stat[name];
                    var stat_data = [];
                    for (var st in tmp_stat)
                    {
                        stat_data.push(tmp_stat[st]);
                    }

                    option.series.push({
                        name: name,
                        type: 'line',
                        data: stat_data,
                        markPoint : {
                            data : [
                                {type : 'max', name: 'max'},
                                {type : 'min', name: 'min'}
                            ]
                        }
                    });
                }
                charts[chart_name].hideLoading();
                charts[chart_name].setOption(option);
            }
        });
});
</script>
{% endblock %}
