{% extends "base.html" %}
{% block content %}
<h1 class="page-header">Dashboard</h1>

<div class="row placeholders">
<div class="col-xs-6 col-sm-3 placeholder">
  <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
  <h4>Label</h4>
  <span class="text-muted">Something else</span>
</div>
<div class="col-xs-6 col-sm-3 placeholder">
  <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
  <h4>Label</h4>
  <span class="text-muted">Something else</span>
</div>
<div class="col-xs-6 col-sm-3 placeholder">
  <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
  <h4>Label</h4>
  <span class="text-muted">Something else</span>
</div>
<div class="col-xs-6 col-sm-3 placeholder">
  <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
  <h4>Label</h4>
  <span class="text-muted">Something else</span>
</div>
</div>

<h2 class="sub-header">Host Information</h2>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>hostname</th>
      <th>is connected</th>
      <th>last update time</th>
    </tr>
  </thead>
  <tbody>
  {% for host in hosts %}
    <tr>
      <td class="host_id" id="host_{{ host.id }}">{{ host.id }}</td>
      <td><a href="hostinfo?id={{ host.id }}&name={{ host.name }}">{{ host.name }}</a></td>
      <td id="host_connected_{{ host.id }}">{{ host.is_connected }}</td>
      <td id="host_update_time_{{ host.id }}">{{ host.last_update_time }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
