{% extends "base.html" %}
{% block content %}
<h1 class="page-header">Dashboard</h1>

<div class="row placeholders">
<div class="col-xs-6 col-sm-3 placeholder">
  <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
  <h4>Label</h4>
  <span class="text-muted">Something else</span>
</div>
<div class="col-xs-6 col-sm-3 placeholder">
  <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
  <h4>Label</h4>
  <span class="text-muted">Something else</span>
</div>
<div class="col-xs-6 col-sm-3 placeholder">
  <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
  <h4>Label</h4>
  <span class="text-muted">Something else</span>
</div>
<div class="col-xs-6 col-sm-3 placeholder">
  <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
  <h4>Label</h4>
  <span class="text-muted">Something else</span>
</div>
</div>

<h2 class="sub-header">Host Information</h2>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>hostname</th>
      <th>is connected</th>
      <th>last update time</th>
    </tr>
  </thead>
  <tbody>
  {% for host in hosts %}
    <tr>
      <td class="host_id" id="host_{{ host.id }}">{{ host.id }}</td>
      <td><a href="hostinfo?id={{ host.id }}&name={{ host.name }}">{{ host.name }}</a></td>
      <td id="host_connected_{{ host.id }}">N/A</td>
      <td id="host_update_time_{{ host.id }}">N/A</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}

{% block body_js %}
{{ super() }}
<script>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
var host_connected_info_id = 1;
var host_ids = [];
$(".host_id").each(function(idx) {
    var a = $(this).text();
    host_ids.push(a);
});

var host_id_length = host_ids.length;
for (var i = 0; i < host_id_length; ++i) {
    var host_id = host_ids[i];
    (function(_host_id) {
        var args = {id: _host_id, info_ids: [host_connected_info_id]};
        $.getJSON($SCRIPT_ROOT + '/_get_host_info', args, function(data) {
            if (data.return_code == 0) {
                var infos = data.infos;
                for (info_id in infos) {
                     if (info_id == host_connected_info_id) {
                         var info_data = JSON.parse(infos[info_id]);
                         $("#host_connected_" + _host_id).text(info_data.connected);
                         $("#host_update_time_" + _host_id).text(info_data.datetime);
                         break;
                     }
                }
            }
        });
    })(host_id);
}

</script>
{% endblock %}